<div class="row">
  <div class="col-md-12">
    <h1>User Show Page</h1>
    <div class="table-responsive">
      <h2>User Profile</h2>
      <table class="table table-bordered text-center">
        <tr class="bg-primary">
          <td class="text-center">Name </td>
          <td class="text-center">Email </td>
          <td class="text-center">Profile Picture </td>
        </tr>
        <tr>
          <td><%= @user.first_name %> <%= @user.last_name %></td>
          <td><%= @user.email %></td>
          <td><%= image_tag @user.picture.photo.url(:small), class: "img-thumbnail" if @user.picture.present? %></td>
        </tr>
      </table>
    </div>

    <div class="table-responsive">
      <h2>User Products</h2>
      <table class="table table-bordered text-center">
        <tr class="bg-primary">
          <th class="text-center">Title</th>
          <th class="text-center col-md-6">Body</th>
          <th class="text-center">Price</th>
          <th class="text-center">Product Picture</th>
          <% if user_authorized(@user.id) %>
            <th></th>
            <th></th>
            <th></th>
          <% end %>
        </tr>
        <%= render @products %>
        <%= paginate @products %>
      </table>
      <%= link_to 'Back', dashboard_users_path(@user), class: 'btn btn-primary' %>
    </div>
  </div>
</div>
