<div class="row">
  <div class="col-md-12">
    <h1>Listing User Orders</h1>
    <div class="table-responsive">
      <table class="table table-bordered text-center">
        <tr class="bg-primary">
          <th class="text-center">Order id</th>
          <th class="text-center">Total items in order</th>
          <th class="text-center">Order Sub-Total</th>
          <th class="text-center">Order Discount</th>
          <th class="text-center">Order Date-Time</th>
          <th class="text-center col-md-5">Order Shipping Address</th>
        </tr>

        <% @orders.each do |order| %>
          <tr>
            <td><%= order.id %></td>
            <td><%= order.total_items %></td>
            <td class="info" >$<%= order.sub_total %></td>
            <td><%= order.discount %>%</td>
            <td><%= order.created_at.strftime("%d %b %Y %I:%m %p") %></td>
            <td><%= order.shipping_address %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
