<div class="row">
  <div class="col-md-12">
    <div id="errors">
    </div>
    <h1>Cart Products</h1>
    <div class="table-responsive">
      <table class="table table-bordered text-center", id="cart-table">
        <tr class="bg-primary">
          <th class="text-center">Title</th>
          <th class="text-center col-md-8">Description</th>
          <th></th>
          <th class="text-center">Price</th>
        </tr>

        <% @products.each do |product| %>
          <tr>
            <td ><%= link_to product.title, product_path(product) %></td>
            <td><%= product.body %></td>
            <td ><%= link_to 'Remove From Cart', remove_carts_path, data: { remote: true, params: { product_id: product.id }.to_param }, id: product.id %></td>
            <td class="info" >$<%= product.price %></td>
          </tr>
        <% end %>
        <tr>
          <td class="info"></td>
          <td class="info"><strong>Total Price</strong></td>
          <td class="info"></td>
          <% if @cart %>
            <td class="info" id="total-price">$<%= @price %></td>
          <% end %>
        </tr>
        <tr id="discount">
          <%= render 'carts/discount' if session[:discounted] == 1 %>
        </tr>
      </table>
      <% if @cart && session[:discounted] != 1 %>
        <%= form_for @coupon, url: validate_coupon_carts_path , remote: true, html: { id: 'coupon-form' } do |f| %>
          <div class="form-group" id="coupon-form">
            <%= f.text_area :coupon, required: true, class: "form-control", rows: 1, placeholder: "Enter discount coupon id (optional)" %>
          </div>
          <div class="form-group">
            <%= f.submit 'Validate Coupon', class: "btn btn-primary" %>
          </div>
        <% end %>
      <% end %>
      <%= link_to 'Add More Items', products_path, class: "btn btn-primary" %>
      <%= link_to 'Buy All', checkout_orders_path, class: "btn btn-primary pull-right buy-all-btn" %>
    <div>
  <div>
<div>
