<div class="row">
  <div class="col-md-12">
    <h1>Products Listing</h1>
    <%= paginate @products %>
    <div class="row">
      <% @products.each do |product| %>
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail product-tile">
            <%= link_to( image_tag(product_photo(product, :small), class: 'img-rounded'), product_path(product)) %>
            <div class="caption">
              <h4><%= product.title %></h4>
              <h4>$<%= product.price %></h4>
              <div>
                <% unless in_cart(product.id) %>
                  <%= link_to 'Add to cart', new_cart_path, class: "btn btn-primary", data: { remote: true, params: { product_id: product.id}.to_param }, id: product.id %>
                <% else %>
                  <%= link_to 'Remove from cart', remove_carts_path, class: "btn btn-primary", data: { remote: true, params: { product_id: product.id }.to_param }, id: product.id %>
                <% end %>
                <strong><%= link_to "by #{user_name(product.user)}", user_path(product.user) %></strong>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-6 table-pagination">
      <%= paginate @products %>
    </div>
  </div>
</div>
