<p>
  <b>Title:</b>
  <%= @product.title %>
</p>

<p>
  <b>Body:</b>
  <%= @product.body %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<% @product.pictures.each do |product_picture| %>
<div>
  <%= image_tag product_picture.photo.url, size: '200x200' %>
</div>
<% end %>

<div id="reviews">
  <table>
    <p>Reviews :</p>
    <%= render @reviews %>
  </table>
</div>

  <%= render partial: 'reviews/review_form' unless user_authorized(@product.user_id) %>

<p>
  <strong>Owner:</strong>
  <%= @user.first_name %>
  <%= @user.last_name %>
  <%= link_to 'Owner show page', user_path(@user) %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %> |
<%= link_to 'Go to Reviews Page', product_reviews_path(@product) %>
