<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DemoProject</title>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <%= render 'layouts/header' %>
  <body>
    <%= render 'layouts/flash', flash: flash %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
