<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DemoProject</title>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="wrapper-container">
      <%= render 'layouts/header' %>
      <%= render 'layouts/flash', flash: flash %>
      <div class="container body-bottom-margin">
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer', flash: flash %>
  </body>
</html>
